@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
      @apply bg-[#f5e13e] ;
    }

    .content {
        @apply bg-[#f6e347];
    }

    .card {
       position: relative;
       width: 100%;
    }

    .blackContent {
      transform: rotateZ(-4deg);
      position: absolute;
      bottom: 13px;
      right: 23px;
    }

    .whiteRotate {
      transform: rotateZ(-4deg);
    }
  }